// sizes
// (be sure to copy any changes to App.jsx#computeComponentDimensions)
$container-padding: 20px;
$header-height: 100px;

// colors
$background: #212525;
$text-color: #454545;
$gradeA: #76a865; /* #418e41; */
$gradeB: saturate(#7cb5bd, 0%);
$gradeC: #d8d165; /* #f4f570; */
$gradeD: saturate(#d9838d, 0%);
$gradeCDark: #ffdf00;
