{
  env: {
    es6: true,
    node: true,
    browser: true
  },
  parser: "babel-eslint",
  extends: "airbnb",
  parserOptions: {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "exexperimentalObjectRestSpread": true
    }
  },
  plugins: [
    "react",
    "jsx-a11y"
  ],
  rules: {
    "indent": [2, 2],
    "semi": [2, "always"],
    "object-curly-newline": [
      "error", 
      { 
        "ObjectExpression": { "minProperties": 1},
        "ObjectPattern": { "consistent": false },
      },
    ],
    "jsx-a11y/click-events-have-key-events": "off"
  }
}
