.typeahead-selector a { 
	text-decoration: none; 
	font-weight: light;
	line-height: 1.4;

}

.adSearchResults {
  width: 100%;
}

.adSearchInput {
	width: 100%;
}

.adSearchResult,
.adSelection {
  width: 100%;

  &.gradeA:hover {
    background-color: lighten($gradeA, 30%);
  }
  &.gradeB:hover {
    background-color: lighten($gradeB, 25%);
  }
  &.gradeC:hover {
    background-color: lighten($gradeC, 30%);
  }
  &.gradeD:hover {
    background-color: lighten($gradeD, 20%);
  }
	
	li {
		font-weight: normal;


		strong {
			color: purple;
			font-weight: bolder;
		}
	}



	
	h4 {
    margin: 0 0 10px 0;
		text-align: center;
		color: white;
		font-weight: normal;
		font-size: 1.2em;
		margin-bottom: 10px;
	}

	&.gradeA {
		h4 {
			background-color: $gradeA;
		}
	}

	&.gradeB h4 {
		background-color: $gradeB;
	}

	&.gradeC h4 {
		background-color: $gradeCDark;
	}

	&.gradeD h4 {
		background-color: $gradeD;
	}


	* {
		pointer-events: none;
		text-decoration: none !important;
		
	}
}
