.hidden {
	visibility: hidden;
}

circle {
		&.gradeA {
			fill: $gradeA;
		}
		&.gradeB {
			fill: $gradeB;
		}
		&.gradeC {
			fill: $gradeCDark;
		}
		&.gradeD {
			fill: $gradeD;
		}
}

.dontDisplay {
	display: none;
}

.leaflet-container {

	.donut, .donuthole {
		stroke-width: 1;
		stroke: #ddd;
		stroke-dasharray: 5,5;

	}
	
	.ringArea {
		stroke: black;
		stroke-width: 1;
	}	
	
	.neighborhoodPolygon,
	.ringGradedArea {
		&.gradeA {
			fill: $gradeA;
			stroke: $gradeA;
		}
		&.gradeB {
			fill: $gradeB;
			stroke: $gradeB;
		}
		&.gradeC {
			fill: $gradeCDark;
			stroke: $gradeCDark;
		}
		&.gradeD {
			fill: $gradeD;
			stroke: $gradeD;
		}

		&.invisible {
			opacity: 0;
		}
	}
	
	.selectedGradedNeighborhoods,
	.neighborhoodPolygonInverted {
		stroke: black;

		fill-opacity: 0.25;
		stroke-opacity: 1;
		fill: white;
		stroke-width : 2.5;
	}
	
	.simpleDonut {
		stroke: none;
		fill-opacity: .6;
	
		&.grade_a {
			fill: $gradeA;
		}
		&.grade_b {
			fill: $gradeB;
		}
		&.grade_c {
			fill: $gradeC;
		}
		&.grade_d {
			fill: $gradeD;
		}
	}

	.cityCircle {
		stroke-width: 0;
		fill-opacity: 0;
	}
}

.nav_header h2 {
	background-color: transparent;
}

[role="button"] {
	cursor: pointer;
	pointer-events: auto;
	outline:0;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

button:focus {
	outline:0;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

