#the_map {
  height: 100%;
  width: 100%;

  &.greyscale {
    .holcRaster img {
      -webkit-filter: grayscale(0.9); /* Webkit */
      filter: gray; /* IE6-9 */
      filter: grayscale(0.9); /* W3C */
    }
  }

  .mask {
    fill: white;
    fill-opacity: 0.4;
    stroke-opacity: 0;
    pointer-events: none !important;
  }

  .cityMarker {
    fill: $headerRed;
    fill-opacity: 0.7;
    stroke-width: 0;
  }

  .neighborhoodPolygon {
    &.selected {
      stroke: $darkColor;
      &.gradeA {
        fill: $gradeAOverlay;
      }
      &.gradeB {
        fill: $gradeBOverlay;
      }
      &.gradeC {
        fill: $gradeCOverlay;
      }
      &.gradeD {
        fill: $gradeDOverlay;
      }
    }

    mix-blend-mode: darken;
  }

  .neighborhoodLabelBG {
    stroke-width: 0;
    background-color: transparent;
  }

  .cityLabelMarker img {
    visibility: hidden;
  }

  .neighborhoodLabel,
  .cityLabel {
    border: none;
    box-shadow: none;
    font-size: 1.5em;
    line-height: 1.1;
    color: #404040;
    font-family: "PT Sans";
    background-color: transparent;
    text-shadow: -4px 0 3px #f5f5f3, 0 4px 3px #f5f5f3, 4px 0 3px #f5f5f3, 0 -4px 3px #f5f5f3;
    margin: 0;
    padding: 0 3px;

    &.class2 {
      color: #444;
      font-size: 1.3em;
      text-shadow: -3px 0 2px #f5f5f3, 0 3px 2px #f5f5f3, 3px 0 2px #f5f5f3, 0 -3px 2px #f5f5f3;
    }

    &.class3 {
      color: #666;
      font-size: 1.1em;
      text-shadow: -2px 0 1px #f5f5f3, 0 2px 1px #f5f5f3, 2px 0 1px #f5f5f3, 0 -2px 1px #f5f5f3;
    }
    &.class4 {
      color: #888;
      font-size: 0.9em;
      text-shadow: -1px 0 0.5px #f5f5f3, 0 1px 0.5px #f5f5f3, 1px 0 0.5px #f5f5f3, 0 -1px 0.5px #f5f5f3;
    }

    &.deemphasized {
      color: silver;
    }

    &:before {
      border: 0;
    }
  }

  .neighborhoodLabel {
    text-align: center;
  }
}

#mapControls {

  #zoomControls {
    position: absolute;
    top: 0;
    right: 20px;
    height: 36px;

    @include for-tablet-portrait-down {
      right: 2px;
    }
  }

  button {
    background-color: $controlsColor;
    position: absolute;
    top: 0;
    color: white;
    border-radius: 0;
    border: none;
    height: 36px;
    z-index: 1100;
    
    &.mapToggle {
      width: 200px;
      right: 184px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      @include for-phone-only {
        right: 148px;
        width: 36px;
        display: block;
        text-indent: -9999em;
        background-image: url(./static/map-toggle-button.svg);
        background-repeat: no-repeat;
        padding: 0;
        border: 1px solid $controlsColor;
      }
    }

    &.zoomIn, &.zoomOut, &.bringMapToFront, &.resetView {
      padding: 0;
      width: 36px;
      font-weight: bold;
      font-size: 1.2em;
      display: inline-block;
    }

    &.zoomIn {
      border-bottom-left-radius: 10px;
      top: 0;
      right: 108px;
    }

    &.zoomOut {
      border-left: 1px solid white;
      top: 0;
      right: 72px;
    }

    &.bringMapToFront {
      border-right: 1px solid white;
      border-left: 1px solid white;
      top: 0;
      right: 36px;
    }

    &.resetView {
      border-bottom-right-radius: 10px;
      top: 0;
      right: 0;
    }
  }
}

.sortingList {
  pointer-events: auto;
  font-size: 16px;
  border-radius: 10px;
  text-align: center;

  h4 {
    font-size: 20px;
  }


  .selectRaster {
    list-style: none;
    border-radius: 10px;
    font-size: 16px;
    pointer-events: auto;
    cursor: pointer;
    width: 192px;

    img {
      max-width: 192px;
      max-height: 192px;

    }
  }
}

