#legend {
  pointer-events: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 20px;
  max-width: 400px;
  overflow: scroll;
  background: $textBackground;
  border: 1px solid $background;
  border-radius: 10px;
  z-index: 2000;
  font-family: 'Lato', sans-serif;
  font-weight: 400;

  svg {
    float: left;
  }

  p {
    margin-left: 70px;

  }

  ul {
    margin-left: 70px;

    li {
      list-style: none;

      span{ 
        border-radius: 12px;
        padding: 0 3px;
        color: white;
        margin: 5px 0 5px 10px;

        &.gradeA {
          background-color: $gradeA;
        }
        &.gradeB {
          background-color: $gradeB;
        }
        &.gradeC {
          background-color: $gradeC;
        }
        &.gradeD {
          background-color: $gradeD;
        }
      }
    }
  }
}
