#loadingNotification {
  position: fixed;
  height: 34px;
  padding: 10px;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  background-color: rgba($headerRed, 0.9);
  color: white;
  /* animation: colorchange 1s infinite;
  -webkit-animation: colorchange 1s infinite; */
  z-index: 1100;
}

@keyframes colorchange
{
  0%   {background: rgba($headerRed, 0.1)}
  50%  {background: rgba($controlsColor, 0.1)}
  100% {background: rgba($headerRed, 0.1)}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: rgba($headerRed, 0.1)}
  50%  {background: rgba($controlsColor, 0.1)}
  100% {background: rgba($headerRed, 0.1)}
}
