#loadingNotification {
  position: fixed;
  max-height: 300px;
  max-width: 300px;
  padding: 10px;
  bottom: 10px;
  right: 10px;
  text-align: right;
  border-radius: 10px;
  background: $textBackground;
  border: 1px solid $background;
  color: $text-color;
  font-family: Lato, sans-serif;
  /* animation: colorchange 1s infinite;
  -webkit-animation: colorchange 1s infinite; */
  z-index: 1100;

  .spinner {
    height: 20px;
    margin-right: 10px;
  }
}

@keyframes colorchange
{
  0%   {background: rgba($headerRed, 0.1)}
  50%  {background: rgba($controlsColor, 0.1)}
  100% {background: rgba($headerRed, 0.1)}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: rgba($headerRed, 0.1)}
  50%  {background: rgba($controlsColor, 0.1)}
  100% {background: rgba($headerRed, 0.1)}
}
