#search .typeahead{
	@extend %lato-normal;
	overflow-y: hidden;
	position: fixed;
	top: $header-height;
	right: 36px * 3 + 20px * 2;
	z-index: 1099;
	pointer-events: none;
	background-color: transparent;
	height: 36px;

	input {
		height: 4px;
		width: 160px;
		padding-left: 35px;
		pointer-events: auto;
		background-color: $controlsColorLightGrey;
		color: $controlsColorLightGrey;
		border-top: none;
		border-right: 1px solid $controlsColor;
		border-left: 1px solid $controlsColor;
		border-bottom: 1px solid $controlsColor;
		border-radius: 0;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		height: 36px;
		background-image: url(./static/searchIcon.svg);
		background-repeat: no-repeat;
		background-position: 5px 5px;
		position: relative;
		z-index: 10;
		
		&:focus {
			width: 600px;
			background-color: white;
			color: black;

			&::placeholder {
				opacity: 1;
			}

			&+ .searchResults.hide {
				color: green;
			}
		}
	}

		overflow-y: visible;

		.searchResults {
			margin-right: -20px;
			margin-top: -10px;
			padding-top: 10px;
			width: 598px;
			background-color: rgba($controlsColor, 0.9);
			color: white;
			max-height: calc(100vh - 150px);
			overflow-y: scroll;
			z-index: -10;

		  -ms-overflow-style: none;
		  scrollbar-width: none; 

		  &::-webkit-scrollbar { 
		    display: none;  
		  }


			&:focus {
				display: block;
			}

			border-top: none;
			border-right: 1px solid $controlsColor;
			border-left: 1px solid $controlsColor;
			border-bottom: 1px solid $controlsColor;
			border-radius: 0;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}

		.city-snippet {
			pointer-events: auto;
			padding-right: 20px;

			&:last-of-type {
				padding-bottom: 20px;
			}
		}

	@include for-phone-only {
		right: 36px * 3 + 2px + 10px;

		&:focus-within {
			right: 2px;
			left: 2px;
		}

		input {
			font-size: 16px;
			width: 36px;
			background-position: center center;
			&::placeholder {
				opacity: 0;
			}
		}

		input:focus & {
			left: 2px;
			right: 2px;
			width: calc(100vw - 4px);
		}

		input:focus {
			font-size: 16px;
			width: calc(100vw - 4px);
			background-position: 5px center;
		}

		.searchResults {
			width: calc(100vw - 6px);
		}

	}


}
