#text {
	word-wrap: break-word;
  z-index: 1100;
  position: fixed;
  top: 45px;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(white, 0.97);
  overflow-y: scroll;

  .close {
    background-color: $controlsColor;
    position: fixed;
    top: $header-height;
    right: 20px;
    width: 36px;
    height: 36px;
    color: white;
    border-radius: 0;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0;

    z-index: 1100;

    @include for-tablet-portrait-down {
      right: 2px;
    }

  }

  #textContent {
    font-family: 'Merriweather';
    width: 90%;
    max-width: 900px;
    line-height: 1.9;
    margin: 20px auto;

    @include for-tablet-portrait-down {
      max-width: 100%;
    }

    h2, h3 {
      font-family: 'Lato', sans-serif;
      color: $headerRed;
      text-align: center;
    }

    h3 {
      font-size: 1.5em;
    }

    #about {
      strong {
        color: $headerRed;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 1.1em;
      }
      img {
        display: block;
        margin: 10px auto;
      }
    }

    .contactUs {
      input,
      textarea,
      submit {
        display: block;
        margin: 20px 0 20px 250px;
        width: 350px;
      }

      textarea {
        height: 200px;
      }

      label {
        text-align: right;
        float: left;
        width: 230px;
        padding-top: 10px;
      }

      .contactUsForm {
        p {
          margin-left: 160px;
        }
      }
    }
  }

	&.noAD {
		background-color: #444;
		text-align: center;
		color: #ddd;
		font-size: 2em;
		height: 100%;
		padding-top: 100px;
	}
}
